@import "tailwindcss";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  position: relative;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
  top: 20px;
  width: 40px;
  height: 40px;
  background-color: rgb(157, 157, 248);
}

.swiper-button-prev {
  position: absolute;
  left: 50%;
  transform: translateX(1260px);
  
  
}

.swiper-button-next {
  left: 50%;
  margin-right: 13%;
  transform: translateY(60px);
 
}   